body{
    margin: 0;
    padding:0;
    height:100vh;
}
.container{
    margin:20px;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-01{
   position:relative;
   background-color:#03D29F;
   flex:1;
   max-width: 300px;
   height: 150px;
   margin:10px;
}